html{padding: 0px 10px;background: black;}
.wrap {width: 100%; height: 100%; }

.basic-grid-wrap {min-height: 1080px; height: 100%; display: grid; grid-template-columns: 1fr; grid-template-rows: repeat(12,1fr); }
.inner-grid-wrap {display: grid; height:100%; grid-template-columns: repeat(5,1fr); grid-template-rows:1fr; }
.inner-grid-wrap.header-section {grid-template-rows:repeat(4,1fr);}
.inner-grid-wrap.contents-section {grid-template-rows:repeat(20,1fr);}

.column-1_2{grid-column: 1 / 2;}
.column-1_3{grid-column: 1 / 3;}
.column-3_4{grid-column: 3 / 4;}
.column-3_5{grid-column: 3 / 5;}
.column-3_6{grid-column: 3 / 6;}
.column-4_5{grid-column: 4 / 5;}
.column-5_6{grid-column: 5 / 6;}

.row-1_2{grid-row: 1 / 2;}
.row-2_4{grid-row: 2 / 4;}
.row-2_5{grid-row: 2 / 5;}

.row-1_8{grid-row: 1 / 8;}
.row-1_15{grid-row: 1 / 15;}
.row-20_21{grid-row: 20 / 21;}
/* .column-1_3{grid-column: 1 / 3;} */
.grid-item {color:#fff; vertical-align: middle; line-height: 1; display: flex; align-items: center; padding-left:10px;}
.grid-item.marin-left{padding-left:0px; margin-left:10px;}
.grid-item.ALIGN_START{align-items: flex-start;}
.grid-header {  grid-row: 1 / 2;}
.grid-title {  grid-row: 2 / 3; }
.grid-contents {  grid-row: 3 / 13;}


.grid-line {font-size:0px; height: 100%; background:#fff;}
/* .grid-col__item {border:1px solid red;} */
/* .grid-col__item {padding:clamp(10px,1vw, 12px) clamp(10px,1vw, 15px); border:1px solid red;} */
/* .title-section {background: purple;color:#fff; font-size: clamp(12px, 1vw + 1rem, 40px); font-weight: bold;} */

.primary-ft{font-size:40px; font-weight: 800;}
.secondary-ft{font-size:20px; font-weight: 600; text-transform: uppercase;}








/* link list  */
.un_order-list {width: 100%; height: 10%;}
.un_order-list__item { border: 1px solid #fff;  border-bottom:0px; }
.un_order-list__item:first-child {border-top:0px;}
.un_order-list__item:last-child {border-bottom: 1px solid #fff;}
.un_order-list--link {display: block;width: 100%; height: 100%; padding: 20px 10px; font-size: 20px; font-weight: 800; transition: 0.3s;}
.un_order-list--link:hover{background-color: #fff; color: #000;}



/* COMMON */
.PADDING_TOP{padding-top:20px;}

.BR_LEFT {border-left:1px solid #fff;}
.BR_TOP {border-top:1px solid #fff;}
.BR_RIGHT {border-right:1px solid #fff;}
.BR_BOTTOM {border-bottom:1px solid #fff;}

.OVER_FLOW_Y_AUTO{overflow-y: auto;}

/* 로고 괜찮음 */
/* logo , gothicque,Horizontal 1 vertical 2 ratio, classic picture feeling, colorful, creative, --v 4 */
/* /imagine prompt:Banksy style, abstract, meaningful, overall background color is dark, accent color is white, colorful, Siberian tiger, neon effect, background is a dead city, tiger emphasis, realistic and abstract, horizontal 1 vertical 2 ratio, 32k, ultra detail --v 4 */
